html, body {
  background: #E8E8E8;
  background-position: 500px;
  height:100%;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.wrapper {
	width:80%;
	 margin: 0 auto;
}
	
.top-wrap {
  background-image: linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ), url('../images/bg.jpg');
  background-size: cover;
  width: 100%;
  height:45vh;
  box-shadow: 0px 4px 5px 0px #222222;
}

.about {
	color: white;
}

.about h2 {
  color: white;
  text-align: center;
  font-size: 50px;
  width:100%;
/* 	position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; 
 */}

.about p {
  color: white;
  text-align: center;
}

.mc_signup {
 text-align: center;
}

.middle {
   position: relative;
   text-align: center;
 }

.middle h2 {
  padding-top: 25px;
}

.middle p {
  font-size:15px;
}

.howitworks {
  height:200px;
  width: 100%;
}

.col1 {
  position: relative;
  float:left; 
  width:33%;
}

.col2 {
  position: relative;
  float:left; width:33%;
}

.col3 {
  position: relative;
  float:left; width:33%;
}
	
.money {
  margin: 0 auto;
  background-color: #D8D8D8;
  left:100px;
  width: 200px;
  height: 200px;
  font-size: 100px;
  border-style: solid;
  border-width:medium;
  border-color:black;
  border-width: 2px;
  border-radius: 100%;

}

.money p {
  position: relative;
  font-family: 'Pacifico', sans-serif;
  font-size: 15px;
}

.hover {
  position: absolute;
  top:-100px;
  left:150px;
  width:200px;
  text-align: right;
  display: none;
}

.money:hover p.hover {
  display: block;
  opacity: 1;
    font-size: 13px;
    color: #660033;
    text-shadow: 20px 20px 50px #222222;
}

.receive {
  margin: 0 auto;
  background-color: #D8D8D8;
  left:100px;
  width: 200px;
  height: 200px;
  font-size: 100px;
  border-style: solid;
  border-width:medium;
  border-color:black;
  border-width: 2px;
  border-radius: 100%;

}

.receive p {
  position: relative;
  font-family: 'Pacifico', sans-serif;
  font-size: 15px;
}

.receive:hover p.hover {
  display: block;
  font-size: 13px;
  color: #660033;
  text-shadow: 20px 20px 50px #222222;
}

.repeat {
  margin: 0 auto;
  background-color: #D8D8D8;
  left:100px;
  width: 200px;
  height: 200px;
  font-size: 100px;
  border-style: solid;
  border-width:medium;
  border-color:black;
  border-width: 2px;
  border-radius: 100%;
}

.repeat p {
  position: relative;
  font-family: 'Pacifico', sans-serif;
  font-size: 15px;
}

.repeat:hover p.hover {
  display: block;
   opacity: 1;
   font-size: 13px;
   color: #660033;
   background-color: #FFFFCC;
   text-shadow: 20px 20px 50px #222222;
}

i {
  position:relative;
  top: 20px;
  # padding: 20px 20px 20px 20px;
}

h1 {
  display: inline-block;
  margin: 0;
}

section {
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  width: 100%;
}

input {
  height: 25px;
  width:300px;
}

.button {
  width:75px
}

h2 {
  color: black;
  display: block;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

nav {
  height: 50px;
  width:  100%;
  background: #CC0000;
}

nav p {
	display:inline;
	color:white;
}
/* Footer */

p.nav_right {
	float: right;
	padding-right: 10px;
	font-size:15px;
}

.nav_name {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	padding-left:25px;
}

.slogan {
	padding-left:25px;
	font-size: 15px;
}

footer {
  background: black;
  color: white;
  padding: 20px;
  font-family: 'Pacifico', cursive;
}
/* Footer */
footer {
  height:30px;
  margin-top: 50px;
  padding: 0 20px;
}

footer p {
  font-size: 12px;
  margin: 0;
}

@media and (min-device-width: 1025px) 
			and (max-device-width: 1900px) {
	.col1 {
	  position: relative;
	  float:left; width:33%;
	}

	.col2 {
	  position: relative;
	  float:left; width:33%;
	}

	.col3 {
	  position: relative;
	  float:left; width:33%;
	}
}

@media screen 	and (min-device-width: 768px) 
				and (max-device-width: 1024px)  {

	.wrapper {
		width:100%;
		margin: 0 auto;
	}
	.col1 {
	  position: relative;
	  float:left; width:33%;
	}

	.col2 {
	  position: relative;
	  float:left; width:33%;
	}

	.col3 {
	  position: relative;
	  float:left; width:33%;
	}

}

@media screen 
	and (min-width: 320px) 
	and (max-width: 480px) {
	.wrapper {
		width:100%;
		margin: 0 auto;
	}
	
	.col1 {
	  position: relative;
	  clear: both;
	}

	.col2 {
	  position: relative;
	  clear: both;
	}

	.col3 {
	  position: relative;
	  clear: both;
	}
}